<h1>A user's bio with summerised list of three most recent posts</h1>

<div id="<%= @user.id %>" class="user_container">
    <div>
      <%= image_tag "#{@user.photo}" %>
    </div>
    <div class='user_details'>
      <h2><%= @user.name %></h2>
      <p>Number of posts: <%= @user.posts_counter %></p>
    </div>
</div>
<div class='bio_container'>
<p><b>Bio</b></p>
  <%= @user.bio %>
</div>

<% @user.three_most_recent_posts.each_with_index do |post, index| %>
  <div id="<%= index %>" class='post_container'>
    <h2> <%= post.title%> </h2>
    <p><%= post.text %></p>
    <div>
      <span>Comments: <%= post.comments_counter %> </span>
      <span>Likes: <%= post.likes_counter %> </span>
    </div>
  </div>
<% end %>

<button>See all posts</button>