<h1> A user's full post with all comments</h1>

<div>
  <div class="post_heading">
    <h2><%= @post.title %> by <%= @user.name %></h2>
    <span>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></span>
    <% if can? :manage, @post %>
    <p><%= button_to 'Delete Post', "/users/#{@user.id}/posts/#{@post.id}", method: :delete, form: {  data: { turbo: :false } }%></p>
    <% end %>
  </div>
  <p class='post_text'><%= @post.text %></p>
  <div class="comment_container">
    <% @comments.each do |comment| %>
      <div>
        <span><%= comment.author.name %>: </span>
        <span><%= comment.text %></span>
      </div>
    <% end %>
  </div>
</div>